.formControl.error input,
.formControl.error {
  textarea {
    border: solid red 2px;
  }

  span {
    color: red;
  }
}
.formSummaryError {
  background-color: darkred;
  border: solid red 2px;
  padding: 5px;
  color: white;
}