.app-wrapper {
    grid-template-areas:
    "h h"
    "n c";

    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
    width: 1200px;
    height: 1800px;
    margin: 0 auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: yellowgreen;
}



